.items{
    display: flex;
    flex-wrap: wrap;
}

.item{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    flex: 1 0 25%;
    height: 400px;
    width: 300px;
}

#discount-section .thumbnail{
    max-height: 250px;
    max-width: 250px;
    box-shadow: unset;
    margin: 0px;
}

#discount-section .product {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-name{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.price-discount{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: lightcoral;
}

.price-listed{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}

#discount-section h1{
    text-align: center;
}

.show-more{
    margin: 20px;
    font-size: 20px;
}